.section{
  margin: 0 auto;
}

.title{
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 7px;
}

.reviews{
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 400;
  margin-bottom: 15px;
  & span{
    margin-left: 12px;
  }
}

.resumen{
  margin-bottom: 25px;
}

.size{
  margin-bottom: 25px;
  & h3{
    margin-bottom: 15px;
  }
  &_options{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 17px;
    align-items: center;
    & u{
      font-size: 14px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  &_option{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--foreground-20);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .5s ease;
  }
}
.is_selected{
  background-color: var(--foreground-100);
  border: 1px solid var(--foreground-100);
  color: #fff;
}

.children{
  margin-bottom: 25px;
  & p{
    margin-bottom: 15px;
  }
  & div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & span{
      margin-left: 10px;
      font-weight: 500;
    }
    &:nth-last-child(1){
      margin-bottom: 0;
    }
  }
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  10% { transform: translateX(-3px); }
  20% { transform: translateX(2.5px); }
  30% { transform: translateX(-2px); }
  40% { transform: translateX(1.5px); }
  50% { transform: translateX(-1px); }
  100% { transform: translateX(0.5px); }
}

@import './presumeMQ'