.section{
  background-color: #222;
  color: #fff;
  padding-top: 40px;
}
.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  gap: 25px;
}

.brand{
  max-width: 375px;
  &_image{
    position: relative;
    max-width: 150px;
    margin-bottom: 15px;
  }
  & p{
    color: var(--foreground-20);
  }
}

.help{
  max-width: 375px;
  & h3{
    margin-bottom: 5px;
  }
  & p{
    color: var(--foreground-20);
    margin-bottom: 20px;
  }
  &_item{
    font-weight: 500;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    & svg{
      width: 20px;
    }
  }
}

.copy{
  border-top: 1px solid var(--foreground-80);
  padding: 15px 0;
  display: grid;
  row-gap: 15px;
  &_docs{
    color: var(--foreground-20);
    display: flex;
    column-gap: 15px;
    row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 13px;
  }
  &_message{
    display: block;
    text-align: center;
    font-size: 14px;
  }
}

@import './footerMQ'