@media (min-width: 800px){
  .container{
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    column-gap: 50px;
    grid-template-areas: 'image children';
    & p{
      font-size: 18px;
      line-height: 35px;
    }
    & h2{
      font-size: 26px;
    }
  }
  .cont_rtl{
    grid-template-areas: 'children image';
  }
  .image_wrapper{
    margin-bottom: 0;
  }
  
}